// prettier-ignore
// These colors are based on VSCode's Dark Plug theme:
// https://github.com/microsoft/vscode/blob/master/extensions/theme-defaults/themes/dark_plus.json
$code-bg-color: #1E1E1E;
$code-color: #D4D4D4;
$comment-color: #6A9955;
$error-color: #f44747;
$keyword-color: #569cd6;
$operator-color: #d4d4d4;
$literal-number-color: #b5cea8;
$literal-string-color: #CE9178; // #D79B87;
//$literal-char-color: #569cd6;
//$literal-char-escaped-color: #d7ba7d;
$name-builtin-pseudo-color: #999;
$name-attribute-color: #9CDCFE;
$name-class-color: #4EC9B0;
$name-entity-color: #C8C8C8;
$name-namespace-color: #555;
$generic-inserted-color: #90a959;

@mixin dark-syntax {
	--highlight-bg-color: $code-bg-color;
	--highlighter-rouge-color: $code-color;
	--highlight-lineno-color: #6c6c6d;
	--inline-code-bg: $code-bg-color;
	--code-header-text-color: #6a6a6a;
	--code-header-muted-color: rgb(60, 60, 60);
	--code-header-icon-color: rgb(86, 86, 86);
	--clipboard-checked-color: #2bcc2b;
	--filepath-text-color: #bdbdbd;

	pre { color: $code-color; } // override Bootstrap

	.highlight {
		.gp { color: #818c96; } // Generic.Prompt
	}

	// https://github.com/rouge-ruby/rouge/wiki/List-of-tokens
	// syntax highlight colors from https://raw.githubusercontent.com/jwarby/pygments-css/master/monokai.css
	.highlight pre		{ background-color: var(--highlight-bg-color); }
	.highlight .hll		{ background-color: var(--highlight-bg-color); }
	.highlight .c		{ color: $comment-color; }					// Comment
	.highlight .err		{ color: $error-color; }					// Error
	.highlight .k		{ color: $keyword-color; }					// Keyword
	.highlight .l		{ color: $literal-number-color; }			// Literal
	.highlight .n		{ color: $name-attribute-color; }			// Name
	.highlight .o		{ color: $operator-color; }					// Operator
	.highlight .p		{ color: $name-attribute-color; }			// Punctuation
	.highlight .cm		{ color: $comment-color; }					// Comment.Multiline
	.highlight .cp		{ color: $comment-color; }					// Comment.Preproc
	.highlight .c1		{ color: $comment-color; }					// Comment.Single
	.highlight .cs		{ color: $comment-color; }					// Comment.Special
	.highlight .ge		{ color: inherit; font-style: italic; }		// Generic.Emph
	.highlight .gs		{ font-weight: bold; }						// Generic.Strong
	.highlight .kc		{ color: $keyword-color; }					// Keyword.Constant
	.highlight .kd		{ color: $keyword-color; }					// Keyword.Declaration
	.highlight .kn		{ color: $keyword-color; }					// Keyword.Namespace
	.highlight .kp		{ color: $keyword-color; }					// Keyword.Pseudo
	.highlight .kr		{ color: $keyword-color; }					// Keyword.Reserved
	.highlight .kt		{ color: $keyword-color; }					// Keyword.Type
	.highlight .ld		{ color: $literal-string-color; }			// Literal.Date
	.highlight .m		{ color: $literal-number-color; }			// Literal.Number
	.highlight .s		{ color: $literal-string-color; }			// Literal.String
	.highlight .na		{ color: $name-attribute-color; }			// Name.Attribute
	.highlight .nb		{ color: $keyword-color; }					// Name.Builtin
	.highlight .nc		{ color: $name-class-color; }				// Name.Class
	.highlight .no		{ color: $keyword-color; }					// Name.Constant
	.highlight .nd		{ color: $keyword-color; }					// Name.Decorator
	.highlight .ni		{ color: $name-entity-color; }				// Name.Entity
	.highlight .ne		{ color: $keyword-color; }					// Name.Exception
	.highlight .nf		{ color: $keyword-color; }					// Name.Function
	.highlight .nl		{ color: $name-attribute-color; }			// Name.Label
	.highlight .nn		{ color: $name-namespace-color; }			// Name.Namespace
	.highlight .nx		{ color: $keyword-color; }					// Name.Other
	.highlight .py		{ color: $name-attribute-color; }			// Name.Property
	.highlight .nt		{ color: $keyword-color; }					// Name.Tag
	.highlight .nv		{ color: $name-attribute-color; }			// Name.Variable
	.highlight .ow		{ color: $keyword-color; }					// Operator.Word
	.highlight .w		{ color: $name-attribute-color; }			// Text.Whitespace
	.highlight .mf		{ color: $literal-number-color; }			// Literal.Number.Float
	.highlight .mh		{ color: $literal-number-color; }			// Literal.Number.Hex
	.highlight .mi		{ color: $literal-number-color; }			// Literal.Number.Integer
	.highlight .mo		{ color: $literal-number-color; }			// Literal.Number.Oct
	.highlight .sb		{ color: $literal-string-color; }			// Literal.String.Backtick
	.highlight .sc		{ color: $literal-string-color; }			// Literal.String.Char
	.highlight .sd		{ color: $literal-string-color; }			// Literal.String.Doc
	.highlight .s2		{ color: $literal-string-color; }			// Literal.String.Double
	.highlight .se		{ color: $literal-number-color; }			// Literal.String.Escape
	.highlight .sh		{ color: $literal-string-color; }			// Literal.String.Heredoc
	.highlight .si		{ color: $literal-string-color; }			// Literal.String.Interpol
	.highlight .sx		{ color: $literal-string-color; }			// Literal.String.Other
	.highlight .sr		{ color: $literal-string-color; }			// Literal.String.Regex
	.highlight .s1		{ color: $literal-string-color; }			// Literal.String.Single
	.highlight .ss		{ color: $literal-string-color; }			// Literal.String.Symbol
	.highlight .bp		{ color: $name-builtin-pseudo-color; }		// Name.Builtin.Pseudo
	.highlight .vc		{ color: $name-attribute-color; }			// Name.Variable.Class
	.highlight .vg		{ color: $name-attribute-color; }			// Name.Variable.Global
	.highlight .vi		{ color: $name-attribute-color; }			// Name.Variable.Instance
	.highlight .il		{ color: $literal-number-color; }			// Literal.Number.Integer.Long
	.highlight .gu		{ color: $comment-color; }					// Generic.Subheading & Diff Unified/Comment?
	.highlight .gd		{ color: $operator-color; background-color: #561c08; }			// Generic.Deleted & Diff Deleted
	.highlight .gi		{ color: $generic-inserted-color; background-color: #0b5858; }	// Generic.Inserted & Diff Inserted
}
